
header{
  border: 5px var(--bs-info-border-subtle) solid

}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
  
#paint-canvas {
  cursor:crosshair;
  background-color: aliceblue;
  border: 5px var(--bs-info-border-subtle) solid
}
  